html,
body {
  height: 100%;
}

body {
  background-color: #2a212c;
}

#calc-body {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  height: 300px;
  width: 400px;
  border: 2px solid #678e00;
  border-radius: 10px;
  background-color: #504055;
  padding: 10px 10px 0 10px;
  display: grid;
  grid-template-rows: 15% 83%;
  grid-template-areas: "output""buttons";
}

h1 {
  text-align: center;
  color: #678e00;
}

#output {
  background-color: #678e00;
  margin-top: 5px;
  border-radius: 3px;
  font-family: "Orbitron", sans-serif;
  grid-area: output;
  letter-spacing: 0.1;
  font-size: 1.7vw;
  text-align: right;
}

#answer {
  padding-right: 2%;
}

.buttons {
  width: 99%;
  margin: 2px;
  grid-area: buttons;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1px 5px;
}

.buttons-first {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: "erase plusminus division";
}

#erase {
  grid-area: erase;
}

#plusminus {
  grid-area: plusminus;
}

#dvision {
  grid-area: division;
}

.buttons-second {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "seven eight nine multiply";
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#multiply {
  grid-area: multiply;
}

.buttons-third {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "four five six subtract";
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#subtract {
  grid-area: subtract;
}

.buttons-fourth {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "one two three addition";
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#addition {
  grid-area: addition;
}

.buttons-fifth {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: "zero decimal equal";
}

#zero {
  grid-area: zero;
}

button {
  background-color: #2a212c;
  font-family: "Saira Semi Condensed", sans-serif;
  color: #678e00;
  border: 1px solid #678e00;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 600px) {
  #calc-body {
    position: relative;
    height: 60%;
    width: 80%;
  }

  #output {
    font-size: 10vw;
  }

  button {
    font-size: 7vw;
  }
} 