html,
body {
  height: 100%;
}

body {
  background-color: #2a212c;
}

#calc-body {
  height: 70%;
  width: 90%;
  border: 2px solid #678e00;
  border-radius: 10px;
  background-color: #504055;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  display: grid;
  grid-auto-rows: 20% 78%;
  grid-template-areas: "output" "buttons";
}

h1 {
  text-align: center;
  color: #678e00;
}

#output {
  background-color: #678e00;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  grid-area: output;
  letter-spacing: 0.1;
  font-size: 13vh;
  text-align: right;
}

button {
  font-size: 2vh;
}

.buttons {
  padding-top: 5px;
  grid-area: buttons;
  display: grid;
  grid-auto-rows: repeat(5, 20%);
  gap: 1px 5px;
}

.buttons-first {
  padding-top: 5px;
  display: grid;
  grid-auto-columns: 50% 25% 25%;
  grid-template-areas: "erase plusminus division";
}

#erase {
  grid-area: erase;
}

#plusminus {
  grid-area: plusminus;
}

#dvision {
  grid-area: division;
}

.buttons-second {
  display: grid;
  grid-auto-columns: 25% 25% 25% 25%;
  grid-template-areas: "seven eight nine multiply";
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#multiply {
  grid-area: multiply;
}

.buttons-third {
  display: grid;
  grid-auto-columns: 25% 25% 25% 25%;
  grid-template-areas: "four five six subtract";
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#subtract {
  grid-area: subtract;
}

.buttons-fourth {
  display: grid;
  grid-auto-columns: 25% 25% 25% 25%;
  grid-template-areas: "one two three addition";
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#addition {
  grid-area: addition;
}

.buttons-fifth {
  display: grid;
  grid-auto-columns: 50% 25% 25%;
  grid-template-areas: "zero decimal equal";
}

#zero {
  grid-area: zero;
}

button {
  background-color: #2a212c;
  font-family: "Saira Semi Condensed", sans-serif;
  color: #678e00;
  border: 1px solid #678e00;
}

button:hover {
  background-color: #3e8e41;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (min-width: 30em) {
  #calc-body {
    position: relative;
    height: 40%;
    width: 30%;
  }

  #output {
    font-size: 7vh;
  }

  button {
    font-size: 2vh;
  }
}

@media (min-width: 31em){
  #calc-body{
      min-height: 300px;
      min-width: 400px;
  }
}